.title{
  text-align: center;
}
.contaner{
  display: flex;
}
.grid-container{
  display: grid;
  grid-template-columns: auto auto auto ;
}
.grid-item{
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  text-align: center;
  border-radius:5px
}
.grid-item button {
  background-color: yellowGreen;
  padding: 8px 20px;
  border-radius:5px
}
.cart{
 margin-left: 100px;
}